.mycard2{
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding-bottom: 10px;
  width: 400px;
  /* height: 400px; */
}

.mycard{
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 10px;
}

.mycard_body{
  text-align: center;
}

.mycard_head{
  margin: 0px;
  padding: 30px;
  background-color: blue;
}

.grid-container {
  grid-gap: 50px;
}

.the_body{
   padding: 20px;
}

p{
  padding-top: 20px;
  /* height: 240px; */
}

.top_header{
  padding: 40px;
  background-color: blue;
  padding-bottom: 10px;
}
#title{
  width: 308px;
}
